p{
    color: red
}
#bag{
        width: 200px;
        height: 500px;
        margin: o auto;
        background: url(/src/assets/bag.png) center no-repeat;
        background-size: 80%;
  }
 #bag-health{
     width: 200px;
     border: 2px solid black;
 }
 #bag-health div{
     height: 20px;
     background-color: red;
 }